.heart{
    margin: 0px auto;
    background: red;
    height: 300px;
    width: 300px;
    
    position: relative;
    top: 200px;
    box-shadow: 0 0 2em gray;
    animation: pulse 1s ease infinite;
}

.heart:before, .heart:after{
    content: "";
    background: red;
    border-radius: 50%;
    height: 300px;
    position: absolute;
    width: 300px;
}

.heart:before{
    top: -150px;
}

.heart:after{
    left: 150px;
}

@keyframes pulse {
    0% { transform: scale(1) rotate(-45deg); }
    50% { transform: scale(1.02) rotate(-45deg); }
    100% { transform: scale(1) rotate(-45deg); }
  }

