.heart{
    width: 533px;
    background-color: aqua;
    position: relative;
    height: 468px;
    margin: 30px auto;
}

.heart-svg{
    margin: 0 auto;
    text-shadow: 10em;
    fill: red;
    
}

